<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension id="app" name="%app.name" point="org.eclipse.core.runtime.applications">
        <application>
            <run class="org.nightlabs.jfire.base.ui.app.rcp.JFireRCPApplication"/>
        </application>
    </extension>
    <extension id="product" point="org.eclipse.core.runtime.products">
        <product application="org.nightlabs.jfire.base.ui.app.rcp.app" name="%app.name">
            <property name="appName" value="%app.name"/>
            <property name="windowImages" value="icons/JFire-Logo.16x16.png"/>
            <property name="aboutText" value="%aboutText"/>
            <property name="aboutImage" value="icons/JFire-Flame.80x160.jpg"/>
            <property name="preferenceCustomization" value="plugin_customization.ini"/>
            <property name="startupForegroundColor" value="000000"/>
            <property name="startupMessageRect" value="7,238,400,20"/>
            <property name="startupProgressRect" value="0,258,400,15"/>
        </product>
    </extension>
    <!-- Perspectives and Views
   -->
<!--   
    <extension point="org.eclipse.ui.perspectives">
        <perspective
            class="org.nightlabs.jfire.base.ui.JFireWelcomePerspective"
            fixed="false" icon="icons/JFire-Icon.16x16.png"
            id="org.nightlabs.jfire.base.ui.JFireWelcomePerspective" name="%org.nightlabs.jfire.base.ui.JFireWelcomePerspective.name"/>
    </extension>
-->
</plugin>
