<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension-point id="dashboardGadgetFactory"
        name="Extension-Point for DashboardGadgets" schema="schema/dashboardGadgetFactory.exsd"/>
    <extension point="org.eclipse.ui.preferencePages">
        <page
            category="org.nightlabs.base.ui.preference.UIPreferencePage"
            class="org.nightlabs.jfire.base.dashboard.ui.internal.config.DashboardGridLayoutPreferencePage"
            id="org.nightlabs.jfire.base.dashboard.ui.DashboardGridLayoutPreferencePage" name="%org.nightlabs.jfire.base.dashboard.ui.internal.config.DashboardGridLayoutPreferencePage.name"/>
    </extension>
    <extension point="org.nightlabs.jfire.base.dashboard.ui.dashboardGadgetFactory">
        <dashboardGadgetFactory
            class="org.nightlabs.jfire.base.dashboard.ui.internal.welcome.DashboardGadgetFactoryWelcome"
            dashboardGadgetType="DashboardGadgetFactoryWelcome"
            description="%org.nightlabs.jfire.base.dashboard.ui.internal.welcome.DashboardGadgetFactoryWelcome.description" name="%org.nightlabs.jfire.base.dashboard.ui.internal.welcome.DashboardGadgetFactoryWelcome.name"/>
    </extension>
    <extension
         point="org.nightlabs.jfire.base.dashboard.ui.dashboardGadgetFactory">
      <dashboardGadgetFactory
            class="org.nightlabs.jfire.base.dashboard.ui.internal.clientScripts.DashboardGadgetClientScriptsFactory"
            dashboardGadgetType="DashboardGadgetClientScriptsFactory"
            name="Client Scripts Gadget">
      </dashboardGadgetFactory>
   </extension>
    <extension point="org.eclipse.ui.views">
        <category id="org.nightlabs.jfire.base.dashboard.ui.category" name="%org.nightlabs.jfire.base.dashboard.ui.category.name"/>
        <view category="org.nightlabs.jfire.base.dashboard.ui.category"
            class="org.nightlabs.jfire.base.dashboard.ui.internal.view.DashboardView"
            id="org.nightlabs.jfire.base.dashboard.ui.DashboardView"
            name="%org.nightlabs.jfire.base.dashboard.ui.DashboardView.name" restorable="true"/>
    </extension>
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.nightlabs.jfire.base.ui.JFireWelcomePerspective">
            <view closeable="false"
                id="org.nightlabs.jfire.base.dashboard.ui.DashboardView"
                minimized="false" moveable="false" ratio="1.0f"
                relationship="left" relative="org.eclipse.ui.editorss"
                showTitle="false" standalone="true" visible="true"/>
        </perspectiveExtension>
    </extension>
</plugin>
